.site-nav-desktop .site-nav {
  display: flex;
  /* align-items: stretch; */
  padding-left: 0px;
}
.site-nav-desktop .site-nav__item {
  display: flex;
  align-items: center;
  position: relative;
  list-style: none;
  height: 80px;
  padding: 0 16px;
  font: var(--font-style-normal) normal var(--font-weight-600) var(--font-size-16)/var(--line-spacing-24) var(--font-family-muli);
  color: var(--white);
}
.site-nav-desktop .site-nav__item a {
  color: inherit;
  text-decoration: none;
  
}
