.site-header {
  display: flex;
  justify-content: center;
  height: 80px;
  background: var(--primary-brand) 0% 0% no-repeat padding-box;
}
.site-header__content {
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  margin: 0 32px;
  /* max-width: 1372px; */
}

.site-nav-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .site-nav-mobile {
    display: none;
  }
  .site-nav-desktop {
    display: flex;
  }
}
