.product-list__wrapper {

}

.product-list__content {
  display: flex;
  width: 100%;
  margin: 0 32px;
}

.category-filter {
 display: none;
}
.category-filter__list {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.category-filter__list input {
  display: inline;
}
.product-list__by-category {
  width: 100%;
}
.product-list__sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
  grid-gap: 22px;
}

@media (min-width: 1024px) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(319px, 1fr));
    grid-gap: 32px;
  }

  .category-filter {
    display: block;
    width: 305px;
    margin-right: 48px;
  }
}